<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>
<div id="header">
  <nav>
    <a href="http://blm.io/blog/">
      <img src="http://blm.io/logo_nav.png" style="float: left; margin-top: 10px; margin-left: 3rem;" />
    </a>
    <ul>
      <li><a href="http://blm.io/blog/">blog</a></li>
      <li><a href="http://blm.io">about</a></li>
      <li><a href="http://blm.io/projects">projects</a></li>
      <li><a href="http://blm.io/contact">contact</a></li>
    </ul>
  </nav>
</div>

<div class="container content">

{{ content }}

<div class="footer">
  <p>
    <!--
    <a href="https://creativecommons.org/licenses/by/4.0/"
    target="_blank">CC-BY 4.0</a> {{ site.time | date: '%Y' }}.
  -->
  </p>
  </div>
  </div>

  </body>
  </html>
