---
layout: default
---
{% if page.grouptype == 'tag' %}

<div style="font-size: 1.5rem; margin-bottom: .5rem;">
	<p>Tag:
		<span class="tagbutton">
			<a href="#">#{{page.tag}}</a>
			</span>
		</p>
</div>

{% elsif page.grouptype == 'category' %}
<div style="font-size: 2rem;">
	<p><a class="logotext">Category:</a> <strong>{{page.category}}</strong></p>
</div>
{% endif %}

{% for post in paginator.posts %}
	{% include post_row.html %}
{% endfor %}

{% if page.grouptype == 'tag' %}
	{% capture paging_root %}/tag/{{page.tag}}/{% endcapture %}
{% elsif page.grouptype == 'category' %}
	{% capture paging_root %}/category/{{page.category}}/{% endcapture %}
{% else %}
	{% capture paging_root %}/{% endcapture %}
{% endif %}
{% include paging_buttons.html %}
